---
import AmazonLogo from './AmazonLogo.astro';

// La línea 6 configura Vercel para manejar la función de servidor,
// permitiendo que la aplicación se ejecute en la plataforma de Vercel.
const country = Astro.request.headers.get('X-Vercel-IP-Country') ?? 'CL';

const { buy } = Astro.props;
const url = buy[country === 'CL' ? 'chile' : 'arg'];
---

<a
    href={url}
    title="Buy Book"
    target="_blank"
    rel="noopener noreferrer"
    class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
>
    Buy on Amazon {country === 'CL' ? 'Chile' : 'Argentina'}
    <AmazonLogo />
</a>
